printWidth: 80
singleQuote: true
tabWidth: 2
trailingComma: es5
semi: true
arrowParens: always

overrides:
  - files: "*.md"
    options:
      parser: markdown
  - files: "*.html"
    options:
      printWidth: 100
