* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Roboto, Times New Roman, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

@media print {
    body {
        font-size: 16pt;
    }
}

pre,
code {
    font-family: 'Source Code Pro', Menlo, monospace;
}

h1 {
    display: flex;
    margin: 0px;
    margin-bottom: 24px;
    color: #242a31;
    position: relative;
    margin-top: 73px;
}

h1:before {
    content: ' ';
    position: absolute;
    top: -32px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: #e6ecf1;
}

pre {
    background: #f7f8f9;
    padding: 16px;
    white-space: pre-wrap;
}

#cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.chapter {
    page-break-after: always;
    position: relative;
}

.hint {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 21px 20px 1px 50px;
}

.hint pre,
.hint code {
    background: transparent;
}

.hint > *:first-child {
    margin-top: 0;
}

.hint--success {
    border-left: 4px solid #50af51;
    background: #f3f8f3;
    border-color: #50af51;
}

.hint--danger {
    border-left: 4px solid #d9534f;
    background: #fdf7f7;
    border-color: #d9534f;
}

.hint--info {
    border-left: 4px solid #42acf3;
    background: #eff5ff;
    border-color: #42acf3;
}

.hint--warning {
    border-left: 4px solid #f0ad4e;
    background: #fcf8f2;
    border-color: #f0ad4e;
}
