<!DOCTYPE html>
<html>
  <head>
    <link href="./assets/style.css" rel="stylesheet" type="text/css" />
    <link href="./assets/dank-mono.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/github.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/prismjs@1.16.0/themes/prism.css"
    />
    <script src="https://unpkg.com/prismjs@1.16.0/prism.js"></script> -->
  </head>
  <body>
    {{ content }}
  </body>
</html>
