<!DOCTYPE html>
<html>
  <head>
    <link href="./assets/style.css" rel="stylesheet" type="text/css" />
    <link href="./assets/dank-mono.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
    />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/github.min.css"
    />
  </head>
  <body>
    <div class="chapter cover">
      <img src="./assets/.gitbook/book-cover.png" id="cover" />
    </div>
    {{ content }}
  </body>
</html>
